html {
	font-size :15px;
	font-family: 'Arial',sans-serif; 
	background-color:red;
}

p{
	padding-left:10px;
	color:black;
	width:500px;
}

h1 {
	padding-top:20px;
	padding-bottom: 20px;
	margin:0;
	font-size: 50px;
	text-align: center;
	color:white;
	text-shadow:2px 2px 1px;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body{
	background-color:orange;
	width :600px;
	margin:0 auto;

}

img{
	display: block;
	margin: 0 auto;
}

.quote{
	color:red;
}

#mainquote{
	border:5px solid black;
}

p.quote#mainquote{

}